<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= link_to @guest.name, "/#{@guest.profile_url}" %>さんから<%= link_to @meeting.date, @meeting %>の言語交換に申請がありました。</p>
    <% if @appointment.message %>
      <p>
        <b>メッセージ</b><br>
        <%= @appointment.message %>
      </p>
    <% end %>
  </body>
</html>
